/**
 * Condensed Fix Styles
 * --------------------------------------------------
 */
.section_content {
  font-size: 14px !important; }

.panel-flexible .panel-separator {
  margin: 0 !important; }

.main-menu li a {
  padding-bottom: 11px !important;
  font-size: larger !important;
  font-weight: 600 !important;
  color: #89898A !important;
  display: block !important;
  border: none !important; }

.main-menu li a:hover {
  color: #EE5835;
  border-bottom: 3px solid #EE5835; }

.main-menu .view-header {
  display: inline-block;
  position: relative;
  margin: 0 10px;
  margin-bottom: -3px; }

.main-menu .view {
  border-bottom: 3px solid #F59332; }

.main-menu .views-row {
  display: inline-block;
  position: relative;
  margin: 0 10px;
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: -3px; }

.main-menu .views-row .active,
.main-menu a:hover {
  border-bottom: 3px solid #EE5835; }

.main-menu .view-content {
  display: inline-block;
  margin-bottom: 0;
  width: 80%;
  overflow: visible; }

.main-menu .menu .children_menu {
  border: none !important; }

.main-menu .menu .children_menu ul {
  border: none !important;
  display: block; }

.main-menu .menu .children_menu li {
  display: inline-block;
  width: 100%; }

#microsite_panel .pane-content > .menu li.expanded > a {
  background: none; }

.left-menu {
  float: initial !important;
  display: inline-block;
  margin-top: 15px; }

.left-menu .views-row {
  padding: 10px;
  margin-bottom: 5px;
  background-image: linear-gradient(to left, #83C24C, #83C24C 97%, #4E8F00 50%, #4E8F00);
  background-size: cover;
  background-repeat: no-repeat; }

.left-menu .views-row:hover {
  background-image: linear-gradient(to left, #4E8F00, #4E8F00 97%, #83C24C 50%, #83C24C); }

.left-menu .views-row a {
  color: #fff;
  display: block; }

.left-menu .view-header {
  padding: 5px;
  background: #4E8F00;
  margin-bottom: 5px;
  color: #fff;
  text-align: center; }

.slider {
  margin: 15px 0; }

.slider .views-row {
  position: relative; }

.slider .views-slideshow-controls-top {
  position: absolute;
  top: 40%;
  width: 100%;
  z-index: 10; }

.slider .views-slideshow-controls-text {
  margin-right: 30px; }

.slider .views-slideshow-controls-text-pause {
  display: none; }

.slider .views-slideshow-controls-text-next {
  float: right; }

.slider .views-slideshow-controls-text-previous a {
  margin-left: 10px;
  color: transparent;
  padding-bottom: 25px; }

.slider .views-slideshow-controls-text-next a {
  color: transparent;
  padding-bottom: 25px; }

.slider .views-field-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.48); }

.slider .views-field-body {
  position: absolute;
  top: 0;
  padding: 2% 9%; }

.slider .views-field-title a,
.slider .views-field-body h2,
.slider .views-field-body p {
  color: #fff; }

.slider .views-field-title a {
  font-size: larger;
  font-weight: 500; }

.slider .views-field-body h2 {
  font-size: x-large; }

.slider .views-field-body p {
  padding: 0 15px;
  max-height: 62px;
  overflow-wrap: break-word;
  overflow: hidden; }

.slider .views-field-nothing {
  position: absolute;
  bottom: 0;
  right: 0; }

.slider .views-field-nothing a {
  padding: 11px 30px;
  background: #83C24C;
  border-color: #83C24C;
  border-radius: 0; }

.slider .views-field-nothing a:hover {
  background: #4E8F00;
  border-color: #4E8F00; }

.main-content {
  margin-top: 15px;
  padding-bottom: 15px; }

.main-content h3,
.home h3 {
  background: #EE5835;
  padding: 5px;
  padding-left: 25px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0; }

.main-content h4 {
  color: #FC5141; }

.main-content p,
.main-content ol,
.main-content ul,
.main-content h4,
.main-content .container-fluid {
  border-left: 1px solid #CBCBCB;
  border-right: 1px solid #CBCBCB;
  padding: 10px; }

.main-content p:last-child {
  border-bottom: 1px solid #CBCBCB; }

.main-content .image {
  float: left;
  margin: 10px;
  margin-bottom: 0; }

.main-content ol,
.main-content ul {
  -webkit-padding-start: 40px; }

.main-content li {
  list-style: inherit; }

.main-content .panel {
  margin-left: 2px;
  margin-top: 15px;
  padding: 0; }

.main-content .panel-heading {
  text-align: center;
  background: #818181;
  color: #fff; }

.main-content .panel-body {
  padding: 9px;
  background: silver; }

.main-content .panel-body a {
  display: block;
  font-size: smaller;
  color: #818181;
  text-decoration: none; }

.main-content .panel-body:hover {
  background: #fff; }

.main-content .panel-body:hover span {
  color: #818181; }

.main-content span {
  padding-top: 10px;
  margin: auto;
  display: inherit;
  color: #fff; }

.icon-file {
  width: 37px;
  height: 46px; }

.icon-hat {
  width: 67px;
  height: 47px; }

.icon-people {
  width: 68px;
  height: 46px; }

.icon-book {
  width: 61px;
  height: 46px; }

.icon-book-green {
  width: 61px;
  height: 46px; }

.icon-media {
  width: 50px;
  height: 46px; }

.icon-mesh {
  width: 70px;
  height: 45px; }

.footer {
  padding-bottom: 15px; }

.footer a {
  float: right;
  margin-left: 20px; }

.footer .google {
  width: 159px;
  height: 58px;
  background-color: #2A2A2A; }

.footer .pdf {
  width: 159px;
  height: 58px;
  background-color: #818181; }

.panels-flexible-region {
  background: #F7F7F7; }

.left-menu .panel-heading {
  background: #4E8F00; }

.left-menu .panel-body {
  background: #fff; }

.left-menu .panel-body:hover,
.left-menu .panel-body:hover span,
.left-menu .panel-body:hover a {
  background: #83C24C;
  color: #fff; }

.left-menu .panel-body a,
.left-menu .panel-body span {
  color: #4E8F00; }

.section_content,
.breadcrumb {
  background: transparent !important; }

.main-content iframe {
  width: 100%;
  height: 700px; }

.streaming iframe {
  margin-left: 9px;
  width: 620px;
  height: 350px; }

.home iframe {
  width: 100%;
  height: 500px; }

.video-left-menu iframe {
  margin-top: 0;
  height: auto; }

@media (max-width: 767px) {
  .main-menu {
    margin-right: 20px; }

  .main-menu li {
    width: 100%;
    border-bottom: 3px solid #F59332; }

  #microsite_panel .pane-content > .menu li.parent_menu {
    position: relative; }

  #microsite_panel .menu .children_menu {
    height: auto !important;
    position: relative !important; }

  #microsite_panel .menu .children_menu li {
    border: none !important;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: underline; }

  .main-menu .view-header {
    width: 100%;
    margin: 0; }

  .main-menu .views-row {
    width: 100%;
    border-bottom: 3px solid #F59332; }

  .main-menu .view-content {
    width: 100%; }

  .main-menu .view {
    border-bottom: none; }

  .slider .views-field-body {
    display: none; } }
@media (max-width: 793px) {
  #microsite_panel .main-menu {
    margin-right: 20px; }

  #microsite_panel .main-menu .view-header {
    width: 100%;
    margin: 0; }

  #microsite_panel .main-menu .views-row {
    width: 100%;
    border-bottom: 3px solid #F59332; }

  #microsite_panel .main-menu .view-content {
    width: 100%; }

  #microsite_panel .main-menu .view {
    border-bottom: none; }

  .slider .views-field-body {
    display: none; } }
@media (max-width: 767px) {
  .left-menu {
    width: 100%; }

  .left-menu .views-row {
    background-image: linear-gradient(to left, #83C04C, #83C04C 97%, #68844F 50%, #68844F); } }
@media (min-width: 992px) {
  .col-md-2 {
    width: 19%;
    margin-left: 0; } }
* {
  -webkit-box-sizing: unset;
  -moz-box-sizing: unset;
  box-sizing: unset; }

body {
  font-family: 'segoe UI', 'segoe UI web', 'segoe UI xp', 'arial', 'helvetica'; }

.main_container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media (min-width: 768px) {
  body {
    font-size: 14px !important; }

  .top_menu {
    font-size: 11px !important; } }
@media (max-width: 767px) {
  body {
    font-size: 12px !important; } }
.accordion_inter {
  color: #FFF;
  width: 100%;
  font-size: 14px;
  padding: 15px;
  box-sizing: border-box; }

.accordion_inter .accordion_inter_section {
  width: 100%; }

.accordion_inter .accordion_inter_section input[type='radio']:checked ~ .accordion_inter_content {
  max-height: 600px;
  opacity: 1;
  z-index: 10; }

.accordion_inter .accordion_inter_section label {
  position: relative;
  cursor: pointer;
  padding: 10px 20px;
  color: #15122E;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  background: #E7B011;
  text-transform: uppercase;
  width: 100%;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  -ms-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.accordion_inter .accordion_inter_section label:before {
  content: " ";
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 1px; }

.accordion_inter .accordion_inter_section label:hover {
  background: #CFB055; }

.accordion_inter .accordion_inter_section label span {
  display: table-cell;
  vertical-align: middle;
  color: #15122E; }

.accordion_inter .accordion_inter_section input[type='radio'] {
  display: none; }

.accordion_inter .accordion_inter_section input[type='radio']:checked + label {
  background: #E7B011; }

.accordion_inter .accordion_inter_section input[type='radio']:checked + label span {
  color: #15122E !important; }

.accordion_inter ul {
  width: 100%;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  list-style: none; }

.accordion_inter ul li {
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  color: #737276; }

.accordion_inter ul li i {
  font-size: 13px;
  width: 15px;
  margin-right: 15px;
  color: #737276; }

.accordion_inter ul li:hover {
  cursor: pointer; }

.accordion_inter ul li:hover i {
  color: #737276; }

.accordion_inter .accordion_inter_section .accordion_inter_content {
  max-height: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  position: relative;
  overflow-y: hidden;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background: #FFF; }

.accordion_inter .accordion_inter_section input[type='radio'] {
  display: none; }

.accordion_inter .accordion_inter_section input[type='radio']:checked ~ .accordion_inter_content {
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

h1.logo {
  margin-top: 0; }

/**
* Variables
* --------------------------------------------------
*/
/**
 * Mixins
 * --------------------------------------------------
 */
/**
 * General Styles
 * --------------------------------------------------
 */
.content-styles, .site-innovacioneducativa .home-content, .site-innovacioneducativa .general-content, .site-innovacioneducativa .lateral-content {
  background: #f5f5f5;
  border-radius: 7px;
  margin: 15px 0;
  padding-bottom: 15px; }

.site-innovacioneducativa .main_container {
  background: #E0E0E0; }
.site-innovacioneducativa .panels-flexible-region {
  background-color: white; }
.site-innovacioneducativa #microsite_panel {
  min-height: 820px;
  position: relative; }
.site-innovacioneducativa .content p a {
  text-decoration: underline;
  cursor: pointer;
  color: #5b5b5f; }
  .site-innovacioneducativa .content p a:hover {
    color: #1f0d2e; }
.site-innovacioneducativa .section_content .breadcrumb {
  margin-bottom: 0px;
  height: 40px; }
.site-innovacioneducativa .section_content p {
  margin-top: 10px !important;
  color: #666666 !important;
  padding: 0 5px; }
.site-innovacioneducativa .bordered-div {
  border: 1px solid #00732a;
  padding: 15px;
  margin: 15px 0;
  border-radius: 15px; }
.site-innovacioneducativa .home-content .view-content ul, .site-innovacioneducativa .home-content .view-content ol, .site-innovacioneducativa .general-content .view-content ul, .site-innovacioneducativa .general-content .view-content ol, .site-innovacioneducativa .lateral-content .view-content ul, .site-innovacioneducativa .lateral-content .view-content ol {
  padding-left: 40px !important; }
  .site-innovacioneducativa .home-content .view-content ul li, .site-innovacioneducativa .home-content .view-content ol li, .site-innovacioneducativa .general-content .view-content ul li, .site-innovacioneducativa .general-content .view-content ol li, .site-innovacioneducativa .lateral-content .view-content ul li, .site-innovacioneducativa .lateral-content .view-content ol li {
    margin-top: 10px !important; }
.site-innovacioneducativa .home-content .view-content ol li, .site-innovacioneducativa .general-content .view-content ol li, .site-innovacioneducativa .lateral-content .view-content ol li {
  list-style: decimal !important; }
.site-innovacioneducativa .home-content .view-content ul li, .site-innovacioneducativa .general-content .view-content ul li, .site-innovacioneducativa .lateral-content .view-content ul li {
  list-style: disc !important; }
.site-innovacioneducativa .general-content {
  min-height: 500px; }
  .site-innovacioneducativa .general-content img {
    display: block;
    margin: 15px auto; }
  .site-innovacioneducativa .general-content .btn {
    white-space: normal;
    color: white !important;
    text-decoration: blink !important;
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px; }
    .site-innovacioneducativa .general-content .btn.col-sm-3 {
      width: 24%; }
.site-innovacioneducativa .lateral-content h3 {
  text-align: center;
  display: block;
  width: 100%;
  font-weight: 600 !important; }
.site-innovacioneducativa .lateral-content .views-more-link {
  display: block;
  color: #5b5b5f;
  margin: 5px 0 10px; }
.site-innovacioneducativa .lateral-content .view-content .views-row:not(:first-child) {
  border-top: 1px solid #5b5b5f; }
.site-innovacioneducativa .lateral-content .lateral-buttons a {
  width: 100%;
  height: 70px;
  white-space: normal;
  margin-top: 15px;
  padding-left: 75px;
  text-align: left;
  position: relative;
  display: flex;
  align-items: center; }
  .site-innovacioneducativa .lateral-content .lateral-buttons a span {
    position: absolute;
    height: 100%;
    width: 70px;
    top: 0;
    left: 0;
    background: url("http://52.37.84.217/edu-jornadas-innovacion/img/img-spritesheet.png") no-repeat; }
  .site-innovacioneducativa .lateral-content .lateral-buttons a:first-child span {
    background-position: -12px -102px; }
  .site-innovacioneducativa .lateral-content .lateral-buttons a:last-child span {
    background-position: -112px -102px; }
.site-innovacioneducativa .view-lateral .views-row {
  background: url("http://52.37.84.217/edu-jornadas-innovacion/img/img_bg_item.gif") no-repeat center/100% 100%;
  float: left;
  padding: 10px 30px;
  text-align: center;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center; }
.site-innovacioneducativa .registration-content .row > * {
  text-align: center;
  margin: 15px 0; }
.site-innovacioneducativa .media {
  margin: 30px 0; }
  .site-innovacioneducativa .media .media-left a {
    width: 110px;
    display: block; }
  .site-innovacioneducativa .media .media-body .media-heading {
    margin-top: 0 !important; }
@media (min-width: 1100px) {
  .site-innovacioneducativa .main_container .section_content {
    width: 1024px !important; } }
@media (min-width: 992px) {
  .site-innovacioneducativa .lateral-content {
    width: 22%;
    margin-left: 15px; }
    .site-innovacioneducativa .lateral-content a {
      font-size: 16px; }
  .site-innovacioneducativa .home-content, .site-innovacioneducativa .general-content, .site-innovacioneducativa .lateral-content {
    width: 74%; } }
@media (min-width: 992px) and (max-width: 1024px) {
  .site-innovacioneducativa #microsite_panel {
    overflow: hidden; } }
@media (min-width: 768px) {
  .site-innovacioneducativa .content .modal-dialog {
    width: 600px;
    margin: 15% auto; }
  .site-innovacioneducativa .row-center-sm {
    display: flex;
    align-items: center; }
  .site-innovacioneducativa .view-lateral .views-row {
    width: 31%;
    margin: 40px 1% 20px;
    min-height: 120px; } }
@media (min-width: 768px) and (max-width: 1024px) {
  .site-innovacioneducativa #banner .view .view-content {
    margin-bottom: 0 !important; } }
@media (max-width: 767px) {
  .site-innovacioneducativa .section_container.no_left_sidebar .section_content {
    width: 100% !important; }
  .site-innovacioneducativa .view-lateral .views-row {
    width: 92%;
    margin: 15px 4%;
    min-height: 60px; } }
@media (max-width: 500px) {
  .site-innovacioneducativa .general-content img {
    width: 100%; } }

/**
 * Headings Styles
 * --------------------------------------------------
 */
.content-header-styles, .site-innovacioneducativa .content h1, .site-innovacioneducativa .content h2, .site-innovacioneducativa .content h3, .site-innovacioneducativa .content h4 {
  font-weight: normal;
  color: #1F2B49;
  margin-bottom: 0px !important; }

.site-innovacioneducativa .content h1 {
  color: #1f0d2e;
  margin-top: 30px;
  font-size: 30px; }
.site-innovacioneducativa .content h2 {
  font-size: 20px;
  color: white;
  margin-top: 15px;
  font-weight: 600;
  padding: 9px 5px;
  background: #00732a; }
.site-innovacioneducativa .content h3 {
  font-size: 18px;
  color: #1f0d2e;
  font-weight: 700;
  margin-top: 20px;
  display: inline-block;
  padding-right: 10px; }
.site-innovacioneducativa .content h4 {
  color: #1f0d2e;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px; }
.site-innovacioneducativa h2.title {
  display: none; }

/**
 * Main Menu Styles
 * --------------------------------------------------
 */
.site-innovacioneducativa #microsite_panel .slide .pane-content > .menu {
  background-color: #387BA0 !important; }
  .site-innovacioneducativa #microsite_panel .slide .pane-content > .menu > .last .children_menu {
    right: 0; }
  .site-innovacioneducativa #microsite_panel .slide .pane-content > .menu li.parent_menu > a {
    border-right: 1px solid transparent;
    padding: 10px 5px !important;
    font-size: 14px !important;
    width: 100%; }
  .site-innovacioneducativa #microsite_panel .slide .pane-content > .menu li.parent_menu > .children_menu {
    top: 95%;
    height: 0px;
    background: transparent;
    z-index: 100; }
    .site-innovacioneducativa #microsite_panel .slide .pane-content > .menu li.parent_menu > .children_menu li {
      display: block; }
      .site-innovacioneducativa #microsite_panel .slide .pane-content > .menu li.parent_menu > .children_menu li:first-child {
        border-top: none; }
      .site-innovacioneducativa #microsite_panel .slide .pane-content > .menu li.parent_menu > .children_menu li:last-child {
        border-bottom: none; }
      .site-innovacioneducativa #microsite_panel .slide .pane-content > .menu li.parent_menu > .children_menu li a {
        background-color: #387BA0 !important;
        border-bottom: 1px solid rgba(153, 153, 153, 0.4) !important;
        color: white !important;
        line-height: 14px;
        font-size: 14px !important;
        height: auto;
        padding: 15px; }
        .site-innovacioneducativa #microsite_panel .slide .pane-content > .menu li.parent_menu > .children_menu li a:hover {
          background: white !important;
          color: #387BA0 !important;
          text-decoration: none;
          padding: 18px 15px !important;
          display: block;
          font-weight: 600;
          -webkit-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          -ms-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          transition: all 0.2s ease; }
  .site-innovacioneducativa #microsite_panel .slide .pane-content > .menu li:hover {
    color: white;
    text-decoration: none !important;
    background-color: #1E1B3F; }
  .site-innovacioneducativa #microsite_panel .slide .pane-content > .menu li.expanded > a:hover {
    color: white !important;
    text-decoration: none !important;
    background-color: #1E1B3F; }
  .site-innovacioneducativa #microsite_panel .slide .pane-content > .menu:hover {
    color: white !important;
    text-decoration: none !important; }
    .site-innovacioneducativa #microsite_panel .slide .pane-content > .menu:hover li.parent_menu > .children_menu:hover {
      background-color: #1E1B3F;
      height: auto; }
    .site-innovacioneducativa #microsite_panel .slide .pane-content > .menu:hover li.parent_menu > .children_menu > a:hover {
      color: white !important;
      text-decoration: none !important; }
    .site-innovacioneducativa #microsite_panel .slide .pane-content > .menu:hover li.parent_menu:hover > .children_menu {
      height: auto; }
@media (min-width: 768px) {
  .site-innovacioneducativa #microsite_panel .slide .pane-content > .menu {
    display: flex;
    align-items: stretch; }
    .site-innovacioneducativa #microsite_panel .slide .pane-content > .menu li.parent_menu {
      width: 16.6%;
      display: flex;
      align-items: center; } }
@media (max-width: 767px) {
  .site-innovacioneducativa #microsite_panel .slide .pane-content > .menu li.parent_menu {
    width: 100%; }
    .site-innovacioneducativa #microsite_panel .slide .pane-content > .menu li.parent_menu > a, .site-innovacioneducativa #microsite_panel .slide .pane-content > .menu li.parent_menu > .children_menu li a {
      padding: 10px 15px !important; } }

/**
 * Slider Styles
 * --------------------------------------------------
 */
.site-innovacioneducativa .oie-destacados {
  overflow: hidden;
  height: 100%;
  padding-top: 15px; }
  .site-innovacioneducativa .oie-destacados .views-slideshow-controls-text-pause {
    display: none; }
  .site-innovacioneducativa .oie-destacados .views_slideshow_controls_text_next {
    float: right; }
    .site-innovacioneducativa .oie-destacados .views_slideshow_controls_text_next a {
      color: transparent;
      padding-bottom: 35px;
      background: url("http://52.37.84.217/edu-jornadas-innovacion/img/img-spritesheet.png") no-repeat -49px 4px; }
      .site-innovacioneducativa .oie-destacados .views_slideshow_controls_text_next a:hover {
        /*background-position: -59px -55px !important;*/ }
  .site-innovacioneducativa .oie-destacados .views-slideshow-controls-text-previous a {
    color: transparent;
    padding-bottom: 35px;
    background: url("http://52.37.84.217/edu-jornadas-innovacion/img/img-spritesheet.png") no-repeat 2px 4px; }
    .site-innovacioneducativa .oie-destacados .views-slideshow-controls-text-previous a:hover {
      /*background-position: -6px -55px !important;*/ }
  .site-innovacioneducativa .oie-destacados .views_slideshow_slide, .site-innovacioneducativa .oie-destacados .views_slideshow_slide img, .site-innovacioneducativa .oie-destacados .views_slideshow_slide .views-field-field-imagen-del-articulo {
    width: 100% !important; }
  .site-innovacioneducativa .oie-destacados .views_slideshow_slide label {
    color: white;
    font-size: 36px; }
  .site-innovacioneducativa .oie-destacados .views_slideshow_slide .views-field-body .field-content {
    padding: 0 !important;
    position: relative; }
    .site-innovacioneducativa .oie-destacados .views_slideshow_slide .views-field-body .field-content, .site-innovacioneducativa .oie-destacados .views_slideshow_slide .views-field-body .field-content p {
      color: white !important;
      font-size: 13px;
      margin: 0 !important; }
    .site-innovacioneducativa .oie-destacados .views_slideshow_slide .views-field-body .field-content p {
      padding: 0 !important; }
  .site-innovacioneducativa .oie-destacados .views_slideshow_slide > div {
    position: relative;
    display: flex;
    align-items: center; }
    .site-innovacioneducativa .oie-destacados .views_slideshow_slide > div .views-field-body {
      position: absolute;
      top: 65%;
      width: 50%;
      right: 100px;
      background-color: rgba(255, 255, 255, 0.6);
      padding: 0 15px 15px;
      color: white;
      height: 20%; }
      .site-innovacioneducativa .oie-destacados .views_slideshow_slide > div .views-field-body h4 {
        color: white;
        text-transform: none;
        font-weight: 400;
        font-size: 14px;
        margin: 0; }
      .site-innovacioneducativa .oie-destacados .views_slideshow_slide > div .views-field-body p {
        color: white !important; }
    .site-innovacioneducativa .oie-destacados .views_slideshow_slide > div .views-field-php {
      position: absolute;
      top: 85%;
      right: 100px;
      background: #1E1B3F;
      padding: 10px 15px; }
      .site-innovacioneducativa .oie-destacados .views_slideshow_slide > div .views-field-php a {
        color: white;
        font-size: 15px;
        font-weight: 700; }
    .site-innovacioneducativa .oie-destacados .views_slideshow_slide > div .btn-info {
      color: white;
      border: 2px solid white; }
      .site-innovacioneducativa .oie-destacados .views_slideshow_slide > div .btn-info:hover {
        color: #5b5b5b !important;
        border: 2px solid #5b5b5b !important; }
        .site-innovacioneducativa .oie-destacados .views_slideshow_slide > div .btn-info:hover span {
          background: url("http://52.37.84.217/edu-jornadas-innovacion/img/img-spritesheet.png") no-repeat -105px -200px !important; }
      .site-innovacioneducativa .oie-destacados .views_slideshow_slide > div .btn-info span {
        height: 27px;
        width: 27px;
        margin-left: 15px;
        float: right;
        background: url("http://52.37.84.217/edu-jornadas-innovacion/img/img-spritesheet.png") no-repeat -174px -25px; }
  .site-innovacioneducativa .oie-destacados .views-more-link {
    color: white;
    padding: 4px 10px;
    font-weight: 600;
    position: absolute;
    top: 20px;
    right: 30px;
    background: #1E1B3F; }
  .site-innovacioneducativa .oie-destacados .views-field-title {
    position: absolute;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 1%;
    height: 15%;
    display: flex;
    align-items: center; }
    .site-innovacioneducativa .oie-destacados .views-field-title span, .site-innovacioneducativa .oie-destacados .views-field-title a {
      color: #1E1B3F;
      font-weight: 700;
      font-size: 20px;
      display: block;
      text-align: left; }
  .site-innovacioneducativa .oie-destacados .views-slideshow-controls-top {
    position: absolute;
    top: 43%;
    width: 100%;
    z-index: 10;
    padding: 0 15px; }
  @media (min-width: 992px) {
    .site-innovacioneducativa .oie-destacados .views_slideshow_slide > div {
      height: 390px; } }
  @media (max-width: 991px) {
    .site-innovacioneducativa .oie-destacados .views_slideshow_slide > div {
      height: 35vw; }
    .site-innovacioneducativa .oie-destacados .views_slideshow_slide .views-field-body .field-content p {
      font-size: 11px !important; } }
  @media (min-width: 768px) {
    .site-innovacioneducativa .oie-destacados .views-field-title {
      top: 50%;
      right: 100px; } }
  @media (max-width: 767px) {
    .site-innovacioneducativa .oie-destacados .views_slideshow_slide > div .views-field-php, .site-innovacioneducativa .oie-destacados .views_slideshow_slide > div .views-field-body {
      display: none; }
    .site-innovacioneducativa .oie-destacados .views_slideshow_slide > div .views-field-title {
      bottom: 0;
      height: 40px;
      padding: 0 15px;
      display: flex;
      justify-content: center;
      width: 100%; } }

/**
 * Tables Styles
 * --------------------------------------------------
 */
.th-text-styles, .site-innovacioneducativa .content table thead th, .site-innovacioneducativa .content table thead th a, .site-innovacioneducativa .content table thead th a:hover, .site-innovacioneducativa .content table thead th:hover {
  text-decoration: none;
  color: white;
  text-shadow: none;
  font-size: 15px;
  font-weight: 600; }

.site-innovacioneducativa .content .table-responsive {
  width: 95%;
  margin: auto;
  margin-bottom: 15px;
  border: none; }
  .site-innovacioneducativa .content .table-responsive tbody tr {
    border-bottom: none; }
    .site-innovacioneducativa .content .table-responsive tbody tr:nth-child(odd) {
      background: #fffad9; }
    .site-innovacioneducativa .content .table-responsive tbody tr:nth-child(even) {
      background: #ffdea1; }
    .site-innovacioneducativa .content .table-responsive tbody tr:hover {
      background: #ff8e3c;
      -webkit-transition: all 150ms ease-out;
      -moz-transition: all 150ms ease-out;
      -ms-transition: all 150ms ease-out;
      -o-transition: all 150ms ease-out;
      transition: all 150ms ease-out; }
      .site-innovacioneducativa .content .table-responsive tbody tr:hover * {
        color: white !important; }
      .site-innovacioneducativa .content .table-responsive tbody tr:hover th, .site-innovacioneducativa .content .table-responsive tbody tr:hover td {
        color: white;
        -webkit-transition: all 150ms ease-out;
        -moz-transition: all 150ms ease-out;
        -ms-transition: all 150ms ease-out;
        -o-transition: all 150ms ease-out;
        transition: all 150ms ease-out; }
    .site-innovacioneducativa .content .table-responsive tbody tr th, .site-innovacioneducativa .content .table-responsive tbody tr td {
      padding: 15px !important;
      vertical-align: middle !important;
      color: black; }
    .site-innovacioneducativa .content .table-responsive tbody tr td {
      border-color: #b9b6b6; }
      .site-innovacioneducativa .content .table-responsive tbody tr td:last-child {
        min-width: 100px; }
  .site-innovacioneducativa .content .table-responsive td > a {
    color: #243268;
    display: inline-block; }
  .site-innovacioneducativa .content .table-responsive table tr th {
    text-shadow: none;
    vertical-align: middle; }
  .site-innovacioneducativa .content .table-responsive tr, .site-innovacioneducativa .content .table-responsive tr.even {
    border-bottom: 0px;
    border-top: 0px; }
  .site-innovacioneducativa .content .table-responsive tfoot tr td:last-child {
    border-right: none; }
  .site-innovacioneducativa .content .table-responsive tfoot td {
    padding: 3px 3px 3px 3px; }
  @media screen and (max-width: 767px) {
    .site-innovacioneducativa .content .table-responsive .table > tbody > tr > td, .site-innovacioneducativa .content .table-responsive .table > tbody > tr > th, .site-innovacioneducativa .content .table-responsive .table > tfoot > tr > td, .site-innovacioneducativa .content .table-responsive .table > tfoot > tr > th, .site-innovacioneducativa .content .table-responsive .table > thead > tr > td, .site-innovacioneducativa .content .table-responsive .table > thead > tr > th {
      white-space: normal; } }
.site-innovacioneducativa .content table thead th {
  border-color: #b9b6b6; }
.site-innovacioneducativa .content table > thead {
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -ms-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px; }
  .site-innovacioneducativa .content table > thead > tr > th {
    text-align: -webkit-center;
    background: #e97117;
    padding: 15px; }
    .site-innovacioneducativa .content table > thead > tr > th:first-child {
      border-right: 1px solid #fff;
      border: none; }
    .site-innovacioneducativa .content table > thead > tr > th:last-child {
      border: none; }
  .site-innovacioneducativa .content table > thead > tr > td {
    text-align: -webkit-center;
    font-weight: 600 !important;
    font-variant: small-caps; }
.site-innovacioneducativa .content .table-bordered {
  border: none; }
  .site-innovacioneducativa .content .table-bordered > thead > tr > td, .site-innovacioneducativa .content .table-bordered > thead > tr > th {
    border-bottom: none; }

/**
 * Buttons Styles
 * --------------------------------------------------
 */
.site-innovacioneducativa .btn {
  background: #1d4383;
  color: white;
  font-weight: 600;
  border: none; }
  .site-innovacioneducativa .btn:hover {
    background: #6EA7D5 !important;
    border: none; }
.site-innovacioneducativa .icon-button {
  background: #5b5b5f;
  padding: 10px 16px 10px 50px;
  position: relative; }
  .site-innovacioneducativa .icon-button span {
    background: url("http://52.37.84.217/edu-jornadas-innovacion/img/img-spritesheet.png") no-repeat;
    height: 45px;
    width: 45px;
    position: absolute;
    left: 0;
    top: 0; }
.site-innovacioneducativa .pdf-button span {
  background-position: -133px -6px; }
.site-innovacioneducativa .excel-button span {
  background-position: -133px -62px; }
.site-innovacioneducativa .more-info-button span {
  background-position: -189px -6px; }
.site-innovacioneducativa .table button {
  white-space: normal; }

/**
 * Modals Styles
 * --------------------------------------------------
 */
.site-innovacioneducativa .modal .modal-content {
  border-radius: 16px;
  border: 3px solid #858585;
  overflow: hidden; }
.site-innovacioneducativa .modal .modal-header {
  background: white;
  border-radius: 15px 15px 0 0;
  border: none;
  padding: 15px 15px 0; }
  .site-innovacioneducativa .modal .modal-header h3 {
    color: white;
    font-size: 22px;
    padding: 0 15px;
    margin: 0; }
  .site-innovacioneducativa .modal .modal-header .close {
    background: rgba(255, 255, 255, 0.8);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 3px solid #858585;
    line-height: 0;
    color: #858585;
    font-size: 30px;
    padding-bottom: 6px;
    opacity: 1; }
    .site-innovacioneducativa .modal .modal-header .close:hover {
      opacity: 0.5; }
.site-innovacioneducativa .modal .modal-body {
  background: white;
  padding: 0 15px 15px; }
  .site-innovacioneducativa .modal .modal-body h4 {
    text-transform: none;
    font-size: 19px;
    font-weight: 700;
    margin: 0 15px 15px 15px;
    color: #1A254E !important; }
  .site-innovacioneducativa .modal .modal-body p {
    border-top: 1px solid white;
    margin: -1px 15px !important;
    padding: 15px 0;
    color: black !important; }
    .site-innovacioneducativa .modal .modal-body p:not(:last-child) {
      border-bottom: 1px solid white; }
.site-innovacioneducativa .modal .modal-footer > * {
  width: 25%;
  height: 50px; }
.site-innovacioneducativa .modal .modal-footer .bienestar-laboral-logo {
  float: left;
  background: url("http://52.37.84.217/edu-jornadas-innovacion/img/logo-bienestarlaboral.png") no-repeat center/contain; }
.site-innovacioneducativa .modal .modal-footer .new-country-logo {
  background: url("http://52.37.84.217/edu-jornadas-innovacion/img/logo-nuevopais.png") no-repeat center/contain; }
.site-innovacioneducativa .modal .modal-footer .mineducacion-logo {
  background: url("http://52.37.84.217/edu-jornadas-innovacion/img/logo-mineducacion.png") no-repeat center/contain; }
.site-innovacioneducativa .modal .modal-footer .new-country-logo, .site-innovacioneducativa .modal .modal-footer .mineducacion-logo {
  float: right; }
@media (max-width: 767px) {
  .site-innovacioneducativa .modal .modal-footer > * {
    width: 33% !important; } }

/**
 * Tabs Styles
 * --------------------------------------------------
 */
.site-innovacioneducativa .tabs-content {
  margin: 20px 0; }
.site-innovacioneducativa ul.nav.nav-tabs {
  display: flex; }
  .site-innovacioneducativa ul.nav.nav-tabs a {
    color: #061236;
    font-weight: 600; }
  .site-innovacioneducativa ul.nav.nav-tabs li.active a {
    background-color: white;
    color: #5b5b5f; }
.site-innovacioneducativa .tab-content {
  background-color: white; }
.site-innovacioneducativa div .tab-pane.fade {
  padding: 10px; }
.site-innovacioneducativa .quicktabs-wrapper {
  margin: 20px 0; }
  .site-innovacioneducativa .quicktabs-wrapper .quicktabs-tabs {
    overflow: visible;
    border: none;
    height: auto; }
    .site-innovacioneducativa .quicktabs-wrapper .quicktabs-tabs li {
      padding: 10px 15px !important;
      border-bottom: 1px solid lightgray; }
      .site-innovacioneducativa .quicktabs-wrapper .quicktabs-tabs li a, .site-innovacioneducativa .quicktabs-wrapper .quicktabs-tabs li a:hover {
        color: #061236;
        font-weight: 600;
        font-size: 14px; }
      .site-innovacioneducativa .quicktabs-wrapper .quicktabs-tabs li a:hover {
        text-decoration: underline; }
      .site-innovacioneducativa .quicktabs-wrapper .quicktabs-tabs li.active {
        top: 0;
        border: 1px solid lightgray !important;
        border-bottom: 3px solid white !important;
        padding: 9px 15px !important;
        position: relative !important; }
        .site-innovacioneducativa .quicktabs-wrapper .quicktabs-tabs li.active a {
          border: none;
          color: #5b5b5f;
          text-decoration: blink; }
  .site-innovacioneducativa .quicktabs-wrapper .quicktabs_main {
    border-top: 1px solid lightgray;
    top: -1px;
    position: relative;
    padding: 15px; }
  @media (max-width: 767px) {
    .site-innovacioneducativa .quicktabs-wrapper .quicktabs-tabs li {
      height: auto;
      width: auto; } }

/**
* Accordion Styles
* --------------------------------------------------
*/
.site-innovacioneducativa .panel-default > .panel-heading {
  padding: 0px !important; }
  .site-innovacioneducativa .panel-default > .panel-heading > a {
    padding: 10px 15px;
    display: block;
    text-align: initial;
    text-decoration: none;
    border-radius: 8px 8px 5px 5px; }
    .site-innovacioneducativa .panel-default > .panel-heading > a[aria-expanded="true"] {
      background-color: #1A254E !important; }
      .site-innovacioneducativa .panel-default > .panel-heading > a[aria-expanded="true"] h4 {
        font-weight: 700; }
    .site-innovacioneducativa .panel-default > .panel-heading > a > h4 {
      color: white;
      margin: 0px !important;
      font-weight: 500; }
.site-innovacioneducativa .panel-default:nth-child(odd) > .panel-heading > a {
  background-color: #6EA7D5; }
.site-innovacioneducativa .panel-default:nth-child(even) > .panel-heading > a {
  background-color: #4470b3; }
.site-innovacioneducativa .panel-default .panel-collapse {
  margin: -3px 0; }
  .site-innovacioneducativa .panel-default .panel-collapse .panel-body {
    border-top: none;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 18px 15px; }
.site-innovacioneducativa .panel {
  border: none; }
  .site-innovacioneducativa .panel .panel-default {
    border-radius: 10px; }
.site-innovacioneducativa .panel-group .panel + .panel {
  margin-top: 0px; }
.site-innovacioneducativa .ui-accordion .ui-icon {
  display: none; }
.site-innovacioneducativa .ui-accordion .views-row {
  border-radius: 8px;
  width: 98%;
  margin: auto; }
  .site-innovacioneducativa .ui-accordion .views-row .views-field-title {
    border: none;
    margin: 0;
    background: none !important;
    border-radius: 8px 8px 0 0; }
    .site-innovacioneducativa .ui-accordion .views-row .views-field-title a {
      text-align: left;
      padding: 10px 15px;
      line-height: 100%; }
      .site-innovacioneducativa .ui-accordion .views-row .views-field-title a .field-content {
        color: white;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 16px; }
  .site-innovacioneducativa .ui-accordion .views-row:nth-child(odd) {
    background: #6EA7D5 !important; }
  .site-innovacioneducativa .ui-accordion .views-row:nth-child(even) {
    background: #4470b3 !important; }
  .site-innovacioneducativa .ui-accordion .views-row .ui-state-active {
    background: #1A254E !important; }
    .site-innovacioneducativa .ui-accordion .views-row .ui-state-active .field-content {
      font-weight: 700 !important; }

/**
 * Lateral Menu Styles
 * --------------------------------------------------
 */
.site-innovacioneducativa .main-lateral-panel {
  padding: 15px 10px; }
  .site-innovacioneducativa .main-lateral-panel .pane-content ul {
    background-color: #294d89 !important; }
    .site-innovacioneducativa .main-lateral-panel .pane-content ul > li {
      font-size: 15px !important;
      width: 100%;
      border-bottom: 1px solid white; }
      .site-innovacioneducativa .main-lateral-panel .pane-content ul > li a.events {
        background: #ea7119;
        padding: 20px !important;
        position: relative; }
        .site-innovacioneducativa .main-lateral-panel .pane-content ul > li a.events:hover {
          background-color: #1e3c60; }
        .site-innovacioneducativa .main-lateral-panel .pane-content ul > li a.events:after {
          content: "";
          height: 100%;
          width: 50px;
          position: absolute;
          top: 0;
          right: 11px;
          background: url("http://52.37.84.217/edu-jornadas-innovacion/img/img-spritesheet.png") no-repeat 0px -47px; }
      .site-innovacioneducativa .main-lateral-panel .pane-content ul > li:hover {
        background-color: #1e3c60; }
      .site-innovacioneducativa .main-lateral-panel .pane-content ul > li > a {
        padding: 10px 5px !important; }
        .site-innovacioneducativa .main-lateral-panel .pane-content ul > li > a:hover {
          text-decoration: none !important; }

/**
 * Pager Styles
 * --------------------------------------------------
 */
.site-innovacioneducativa .content .pager li > a {
  padding: 0;
  border-radius: 0;
  border: none;
  background-color: white;
  font-weight: bold;
  color: black; }
.site-innovacioneducativa .content .pager .pager-current {
  background-color: white;
  color: #DE3A73;
  width: 40px; }
.site-innovacioneducativa .content .pager .pager-first a, .site-innovacioneducativa .content .pager .pager-previous a, .site-innovacioneducativa .content .pager .pager-next a, .site-innovacioneducativa .content .pager .pager-last a {
  background: url("http://52.37.84.217/edu-jornadas-innovacion/img/img-pager-spritesheet.png"); }
.site-innovacioneducativa .content .pager .pager-first a {
  background-position: 3px -20px; }
.site-innovacioneducativa .content .pager .pager-previous a {
  background-position: 3px 3px; }
.site-innovacioneducativa .content .pager .pager-next a {
  background-position: -20px 3px; }
.site-innovacioneducativa .content .pager .pager-last a {
  background-position: -21px -20px; }
.site-innovacioneducativa .pager-previous + .pager-item:before, .site-innovacioneducativa .pager-item + .pager-current:before,
.site-innovacioneducativa .pager-current + .pager-item:before, .site-innovacioneducativa .pager-item + .pager-item:before,
.site-innovacioneducativa .pager-item + .pager-next:before {
  content: " | ";
  color: black;
  font-weight: bold; }
.site-innovacioneducativa .pager-item + .pager-current:before {
  padding-right: 7px; }

/**
 * Home Menu Styles
 * --------------------------------------------------
 */
.site-innovacioneducativa .home-menu {
  width: 100%; }
  .site-innovacioneducativa .home-menu .view-content .views-row {
    display: inline-block; }
    .site-innovacioneducativa .home-menu .view-content .views-row a {
      background: white;
      display: block;
      padding: 15px 15px 30px;
      border-radius: 7px;
      color: #1f0d2e;
      font-weight: 600;
      font-size: 20px;
      line-height: 120%;
      -webkit-box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.25);
      box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.25); }
    .site-innovacioneducativa .home-menu .view-content .views-row img {
      padding-bottom: 20px; }
  @media (min-width: 992px) {
    .site-innovacioneducativa .home-menu {
      top: 50%;
      position: absolute; } }
  @media (max-width: 991px) {
    .site-innovacioneducativa .home-menu {
      margin-top: -9vw; } }
  @media (min-width: 768px) {
    .site-innovacioneducativa .home-menu .view-content {
      display: flex;
      align-items: baseline; }
      .site-innovacioneducativa .home-menu .view-content .views-row {
        width: 30%; }
        .site-innovacioneducativa .home-menu .view-content .views-row:first-child {
          margin: 0 2% 2% 6%; }
        .site-innovacioneducativa .home-menu .view-content .views-row:nth-child(2) {
          margin: 0 2% 2%; }
        .site-innovacioneducativa .home-menu .view-content .views-row:last-child {
          margin: 0 6% 2% 2%; }
        .site-innovacioneducativa .home-menu .view-content .views-row a {
          min-height: 330px; } }
  @media (max-width: 767px) {
    .site-innovacioneducativa .home-menu .view-content .views-row {
      width: 100%;
      margin: 0 0 4%; }
      .site-innovacioneducativa .home-menu .view-content .views-row a {
        width: 70%;
        margin: auto;
        max-width: 400px; } }

/**
 * Main Titles Styles
 * --------------------------------------------------
 */
.site-innovacioneducativa .site-title {
  padding: 15px;
  display: flex;
  align-items: center;
  position: relative; }
  .site-innovacioneducativa .site-title span {
    position: absolute;
    height: 85px;
    width: 86px;
    background: url("http://52.37.84.217/edu-jornadas-innovacion/img/img-spritesheet.png") no-repeat;
    left: 40px;
    top: 0; }
  .site-innovacioneducativa .site-title h1 {
    margin: 0 !important;
    padding: 15px 15px 15px 140px;
    width: 100%;
    color: white !important;
    font-size: 24px !important;
    font-weight: 600 !important; }

.site-innovacioneducativa.teachers-styles .site-title span {
  background-position: -6px -7px; }
.site-innovacioneducativa.teachers-styles .site-title h1 {
  background: #51b701; }
.site-innovacioneducativa.teachers-styles h2 {
  background: #51b701; }

.site-innovacioneducativa.families-styles .site-title span {
  background-position: -106px -7px; }
.site-innovacioneducativa.families-styles .site-title h1 {
  background: #ff7400; }
.site-innovacioneducativa.families-styles h2 {
  background: #ff7400; }

.site-innovacioneducativa.researchers-styles .site-title span {
  background-position: -204px -7px; }
.site-innovacioneducativa.researchers-styles .site-title h1 {
  background: #931c0a; }
.site-innovacioneducativa.researchers-styles h2 {
  background: #931c0a; }

/**
 * Relates Sites Styles
 * --------------------------------------------------
 */
.site-innovacioneducativa .related-sites {
  background: #eaf8f8; }
  .site-innovacioneducativa .related-sites h3 {
    margin-left: 20px; }
  .site-innovacioneducativa .related-sites div .row > div {
    height: 150px;
    display: flex;
    align-items: center; }
  .site-innovacioneducativa .related-sites .site-link {
    display: block;
    width: 100%;
    height: 65px; }
  .site-innovacioneducativa .related-sites .icfes-link .site-link {
    background: url("http://52.37.84.217/edu-jornadas-innovacion/img/logo_icfes.png") no-repeat center/contain; }
  .site-innovacioneducativa .related-sites .icetex-link .site-link {
    background: url("http://52.37.84.217/edu-jornadas-innovacion/img/logo_icetex.png") no-repeat center/contain; }
  .site-innovacioneducativa .related-sites .inci-link .site-link {
    background: url("http://52.37.84.217/edu-jornadas-innovacion/img/logo_inci.png") no-repeat center/contain; }
  .site-innovacioneducativa .related-sites .insor-link .site-link {
    background: url("http://52.37.84.217/edu-jornadas-innovacion/img/logo_insor.png") no-repeat center/contain; }

/**
* Year selector styles
* --------------------------------------------------
*/
.site-innovacioneducativa .view-filters {
  background: #ff572f !important;
  border-bottom: 1px solid #ff572f !important; }
  .site-innovacioneducativa .view-filters .views-exposed-form .views-exposed-widgets .views-exposed-widget label {
    margin-top: -20px;
    vertical-align: middle;
    color: white;
    margin-left: 10px;
    display: inline-block !important;
    font-size: 20px;
    font-weight: 400; }
  .site-innovacioneducativa .view-filters .views-exposed-form .views-exposed-widgets .views-exposed-widget input {
    background-color: white !important;
    color: #ff572f !important;
    font-size: 20px;
    margin-right: 35px; }
    .site-innovacioneducativa .view-filters .views-exposed-form .views-exposed-widgets .views-exposed-widget input:after {
      content: ""; }
  .site-innovacioneducativa .view-filters .views-exposed-form .views-exposed-widgets .views-exposed-widget .views-widget {
    display: inline-block !important; }
    .site-innovacioneducativa .view-filters .views-exposed-form .views-exposed-widgets .views-exposed-widget .views-widget .form-select {
      background-color: white !important;
      color: black !important; }

/*# sourceMappingURL=site-styles.css.map */
