/**
 * General Styles
 * --------------------------------------------------
 */

.content-styles {
    border-radius: 7px;
    margin: 15px 0;
    padding: 0 15px;
}
 .#{$site-name} {
     .main_container {
         background: $site-bg;
     }
     .panels-flexible-region {
       background-color: $content-bg;
     }
     #microsite_panel {
         min-height: 820px;
         position: relative;
     }

     .content {
         p {
             a {
               text-decoration: underline;
               cursor: pointer;
               color: $link-text-color;

               &:hover {
                  color: $link-text-hover;
               }
             }
         }
     }
     .section_content {
        .breadcrumb {
           margin-bottom: 0px;
           height: 40px;
        }
        p {
          margin-top: 10px !important;
          color: $paragraph-text-color !important;
          padding: 0 5px;
        }
     }
     .bordered-div {
         border: 1px solid $view-more-bg;
         padding: 15px;
         margin: 15px 0;
         border-radius: 15px;
     }
     .home-content, .general-content, .lateral-content {
         @extend .content-styles;

        .view-content {
            ul, ol {
                padding-left: 40px !important;

                li {
                    margin-top: 10px !important;
                }
            }
            ol {
                li {
                    list-style: decimal !important;
                }
            }
            ul {
                li {
                    list-style: disc !important;
                }
            }
        }
     }
     .general-content {

        img {
            display: block;
            margin: 15px auto;
        }
        .btn {
            white-space: normal;
            color: white !important;
            text-decoration: blink !important;
            min-height: 75px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1px;

            &.col-sm-3 {
                width: 24%;
            }
        }
     }
     .lateral-content {
          h3 {
             text-align: center;
             display: block;
             width: 100%;
             font-weight: 600 !important;
          }
          .views-more-link {
             display: block;
             color: $link-text-color;
             margin: 5px 0 10px;
          }
          .view-content .views-row:not(:first-child) {
             border-top: 1px solid $link-text-color;
          }
          .lateral-buttons {
              a {
                  width: 100%;
                  height: 70px;
                  white-space: normal;
                  margin-top: 15px;
                  padding-left: 75px;
                  text-align: left;
                  position: relative;
                  display: flex;
                  align-items: center;

                  span {
                    position: absolute;
                    height: 100%;
                    width: 70px;
                    top: 0;
                    left: 0;
                    background: url('#{$images-path}img-spritesheet.png') no-repeat;
                  }
                  &:first-child {
                      span {
                          background-position: -12px -102px;
                      }
                  }
                  &:last-child {
                      span {
                          background-position: -112px -102px;
                      }
                  }
              }
          }

     }
     .view-lateral {
         .views-row {
              background: url("#{$images-path}img_bg_item.gif") no-repeat center / 100% 100%;
              float: left;
              padding: 10px 30px;
              text-align: center;
              height: 50px;
              display: flex;
              justify-content: center;
              align-items: center;
          }
     }
     .registration-content {
        .row > * {
            text-align: center;
            margin: 15px 0;
        }
     }
     .media {
        margin: 30px 0;

        .media-left {
            a {
                width: 110px;
                display: block;
            }
        }
        .media-body {
            .media-heading {
                margin-top: 0 !important;
            }
        }
     }
     .oie-lateral, .images-carousel {
       width: 98%;
       margin: 10px auto 15px !important;
           h2{
             background: $accordion-odd-bg !important;
             color: white !important;
             padding-left: 15px !important;
           }
           .view-content {
             border: 1px solid $accordion-odd-bg;
             a {
               color: #009892;
               font-weight: 600;
             }
           }
     }
     .conferences-filter {
         .views-field-body {
             .views-more-link {
                  display: block;
                  text-align: right;
                  color: $accordion-odd-bg;
                  font-weight: 600;
                  font-size: 16px;
                  margin-top: 10px;
             }
         }
     }
     .conference-content {
       .views-row {
          & > div:not(:first-child) {
              margin-top: 15px;
          }
          .views-field-field-video-de-la-jornada {
              position: relative;
              display: block;
              height: 0;
              padding: 0;
              overflow: hidden;

              iframe {
                 position: absolute;
                 top: 0;
                 bottom: 0;
                 left: 0;
                 width: 100%;
                 height: 100%;
                 border: 0;
              }
          }
          .views-field-field-memorias-de-la-jornada,
          .views-field-field-resultados-de-las-encuesta,
          .views-field-field-foro-de-la-jornada-de-part,
          .views-field-field-cargar-la-agenda-del-event {
              a {
                background: $accordion-odd-bg;
                margin: 0 15px;
                padding: 0 15px;
                border-left: 10px solid $accordion-selected-bg;
                color: white;
                font-size: 16px;
                font-weight: 600;
                min-height: 55px;
                align-items: center;
                display: flex;
                justify-content: center;

                &:hover {
                    background: $accordion-even-bg;
                }
              }
          }
       }
    }
    /*
    .modal{
      display: flex !important;
    }*/
     @media (min-width: 1100px) {
         .main_container {
              .section_content {
                  width: 1024px !important;
              }
          }
     }
     @media (min-width: 992px) {
         .lateral-content {
            width: 22%;
            margin-left: 15px;

            a {
                font-size: 16px;
            }
         }
     }
     @media (min-width: 992px) and (max-width: 1024px) {
         #microsite_panel {
           overflow: hidden;
         }
     }
     @media (min-width: 768px) {
         .content {
            .modal-dialog {
               min-width: 70%;
               margin: 5% auto;
            }
         }
         .row-center-sm {
             display: flex;
             align-items: center;
         }
         .view-lateral .views-row {
             width: 31%;
             margin: 40px 1% 20px;
             min-height: 120px;
         }
         .conferences-filter {
             .views-field-body {
                 width: 45%;
                 float: left;
                 margin-right: 5%;
             }
             .views-field-field-portada-de-la-jornada {
                 width: 50%;
                 float: left;
             }
         }
         .conference-content {
           .views-row {
              & > div:not(:first-child) {
                  width: 50%;
                  float: left;
              }
              & > div:last-child {
                  float: right !important;
              }
              .views-field-field-portada-de-la-jornada, .views-field-body {
                  height: 300px;
                  display: flex;
                  padding: 15px;
              }
              .views-field-body {
                  overflow-y: auto;
                  border: 2px solid $accordion-odd-bg;
              }
              .views-field-field-portada-de-la-jornada {
                  align-items: center;
              }
              .views-field-field-video-de-la-jornada {
                    padding-bottom: 28.25%;
              }
           }
         }
     }
     @media (min-width: 768px) and (max-width: 1024px){
         #banner .view .view-content {
             margin-bottom: 0 !important;
         }
     }
     @media (max-width: 767px){
         .section_container.no_left_sidebar .section_content {
            width: 100% !important;
         }
         .view-lateral .views-row {
            width: 92%;
            margin: 15px 4%;
            min-height: 80px;
         }
         .conference-content {
           .views-row {
               .views-field-field-video-de-la-jornada {
                   padding-bottom: 56.25%;
               }
            }
         }
     }
     @media (max-width: 500px){
         .general-content {
             img {
                width: 100%;
             }
         }
     }
 }
