/**
*Images Carousel styles
* --------------------------------------------------
*/
.#{$site-name} {
    .images-carousel {
        .jcarousel-container-horizontal {
            width: 100%;
            height: auto;
        }
        .jcarousel-clip-horizontal {
            width: 100%;
        }
        .jcarousel-item {
            width: 12.5vw;
            height: 12.5vw;
            display: flex;
            justify-content: center;
            align-items: center;

            .views-field-field-imagenes-de-la-jornada {
                img {
                  height: 12.5vw;
                  max-width: 100vw;
                  width: auto;
                }
            }
        }
    }
}
