/**
 * Slider Styles
 * --------------------------------------------------
 */
.#{$site-name} {
    .#{$site-slider} {
      overflow: hidden;
      height: 100%;
      padding-top: 15px;

          .views-slideshow-controls-text-pause {
          		display: none;
          }
          .views_slideshow_controls_text_next {
          		float: right;

              a {
              		color: transparent;
              		padding-bottom: 35px;
              		background: url("#{$images-path}img-spritesheet.png") no-repeat -49px 4px;

                  &:hover {
                      /*background-position: -59px -55px !important;*/
                  }
              }
          }
          .views-slideshow-controls-text-previous {
              a {
              		color: transparent;
              		padding-bottom: 35px;
              		background: url("#{$images-path}img-spritesheet.png") no-repeat 2px 4px;

                  &:hover {
                      /*background-position: -6px -55px !important;*/
                  }
              }
          }
          .views_slideshow_slide {
              &, & img, .views-field-field-imagen-del-articulo {
                  width: 100% !important;
              }
              label {
              		color: white;
              		font-size: 36px;
              }
              .views-field-body {
                  .field-content {
                      padding: 0 !important;
                      position: relative;

                      &, p {
                          color: white !important;
                          font-size: 13px;
                          margin: 0 !important;
                      }
                      p {
                        padding: 0 !important;
                      }
                  }
              }
              & > div {
                  position: relative;
                  display: flex;
                  align-items: center;

                  .views-field-body {
                      position: absolute;
                      top: 65%;
                      width: 50%;
                      right: 100px;
                      background-color: rgba(white, 0.6);
                      padding: 0 15px 15px;
                      color: white;
                      height: 20%;

                      h4 {
                          color: white;
                          text-transform: none;
                          font-weight: 400;
                          font-size: 14px;
                          margin: 0;
                      }
                      p {
                          color: white !important;
                      }
                  }
                  .views-field-php {
                    position: absolute;
                    top: 85%;
                    right: 100px;
                    background: $main-menu-parent-hover-bg;
                    padding: 10px 15px;

                    a {
                      color: white;
                      font-size: 15px;
                      font-weight: 700;
                    }
                  }
                  .btn-info {
                      color: white;
                      border: 2px solid white;

                      &:hover {
                          color: $slider-btn-info-hover !important;
                          border: 2px solid $slider-btn-info-hover !important;

                          span {
                              background: url('#{$images-path}img-spritesheet.png') no-repeat -105px -200px !important;
                          }
                      }
                      span {
                              height: 27px;
                              width: 27px;
                              margin-left: 15px;
                              float: right;
                              background: url('#{$images-path}img-spritesheet.png') no-repeat -174px -25px;
                          }
                  }
              }
          }
          .views-more-link {
              color: white;
              padding: 4px 10px;
              font-weight: 600;
              position: absolute;
              top: 20px;
              right: 30px;
              background: $main-menu-parent-hover-bg;
          }
          .views-field-title {
            position: absolute;
            width: 50%;
            background-color: rgba(white, 0.6);
            padding: 1%;
            height: 15%;
            display: flex;
            align-items: center;
                span, a {
                  color: $main-menu-parent-hover-bg;
                  font-weight: 700;
                  font-size: 20px;
                  display: block;
                  text-align: left;
                }
          }
          .views-slideshow-controls-top {
               position: absolute;
               top: 43%;
               width: 100%;
               z-index: 10;
               padding: 0 15px;
          }
          @media (min-width: 992px) {
              .views_slideshow_slide > div {
                  height: 390px;
              }
          }
          @media (max-width: 991px) {
              .views_slideshow_slide > div {
                  height: 35vw;
              }
              .views_slideshow_slide .views-field-body .field-content p {
                  font-size: 11px !important;
              }
          }
          @media (min-width: 768px) {
              .views-field-title {
                  top: 50%;
                  right: 100px;
              }
              &.main-slider {
                  .views-field-title {
                      height: auto !important;
                  }
              }
          }
          @media (max-width: 767px) {
              &.main-slider {
                  .views-field-title {
                      span,a {
                          line-height: 100%;
                          font-size: 12px !important;
                          text-align: center !important;
                      }
                  }
              }
              .views_slideshow_slide > div {
                  .views-field-php, .views-field-body {
                      display: none;
                  }
                  .views-field-title {
                      bottom: 0;
                      height: 40px;
                      padding: 0 15px;
                      display: flex;
                      justify-content: center;
                      width: 100%;
                  }
              }
          }
    }
}
